:root.theme-dark {
  --accent-color: #FF0070;
  --border-button: rgba(255, 0, 112, 0.4);
  --header-title-color: #DB00FF;
  --header-description-color: #000028;
  --main-text-color: #F1B2CE;

  --bg-image: url(/images/cover-image-dark.png);

  --font: 'IBM Plex Mono', monospace;

  --main-font-size: 18px;
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --small-gap: 10px;
  --medium-gap: 20px;
  --large-gap: 50px;
}
