:root.theme-light {
  --accent-color: #FF8DCB;
  --border-button: #353430;
  --header-title-color: #FFC2E6;
  --header-description-color: #353430;
  --main-text-color: #353430;

  --bg-image: url('../images/cover-image-light.png');

  --font: 'IBM Plex Mono', monospace;

  --main-font-size: 18px;
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --small-gap: 10px;
  --medium-gap: 20px;
  --large-gap: 50px;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --border-button: rgba(50, 49, 45, 0.4);
    --header-title-color: #FFC2E6;
    --header-description-color: #353430;
    --main-text-color: #353430;
  
    --bg-image: url('../images/cover-image-light.png');

    --font: 'IBM Plex Mono', monospace;
  
    --main-font-size: 18px;
    --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --small-gap: 10px;
    --medium-gap: 20px;
    --large-gap: 50px;
  }
}

.theme-light .header::before {
  border-top: 1px solid var(--main-text-color);
  border-right: 1px solid var(--main-text-color);
}

.theme-light .header::after {
  border-bottom: 1px solid var(--main-text-color);
  border-left: 1px solid var(--main-text-color);
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--main-text-color);
}

.theme-light .header__theme-menu-button:focus {
  border-bottom: 1px solid var(--main-text-color);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--main-text-color);
}

.theme-light .footer::before {
  border-top: 1px solid var(--main-text-color);
  border-right: 1px solid var(--main-text-color);
}

.theme-light .footer::after {
  border-bottom: 1px solid var(--main-text-color);
  border-left: 1px solid var(--main-text-color);
}
