.page {
  font-family: var(--font);
  font-size: var(--main-font-size);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
}

/* header */

.header {
  block-size: 100vh;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  background: transparent;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  background: transparent;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  gap: var(--small-gap);
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 400;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  padding-top: 75px;
  padding-right: 10px;
  gap: var(--small-gap);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  text-transform: lowercase;
  font-weight: 400;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-button);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-size: var(--title-font-size-mobile);
  font-weight: 700;
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header__description {
  font-weight: 700;
  margin: 0 10px;
  line-height: 23.4px;
  margin-top: 312px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--header-description-color);
}

/* header для width >= 768px */

@media (width >= 768px) {
  .header::before {
    top: 20px;
    right: 20px;
  }

  .header::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu-list {
    padding-right: 20px;
  }

  .header__title {
    font-size: var(--title-font-size-desktop);
    padding-left: 20px;
  }

  .header__description {
    width: 50%;
    margin-left: auto;
    margin-right: 20px;
  }
}

/* header для width >= 1024px */

@media (width >= 1024px) {
  .header__title {
    font-size: var(--title-font-size-desktop);
  }

  .header__description {
    width: 50%;
    margin-left: auto;
    margin-top: 517px;
  }

  .header__theme-menu-list {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    gap: var(--small-gap);
    width: 230px;
    margin: 0 auto;
  }
}

/* main */

.main {
  display: grid;
  gap: var(--large-gap);
  margin: 40px 10px;
}

.main__section {
  display: grid;
  gap: var(--medium-gap);
}

.main__title {
  font-weight: 700;
  line-height: 23.4px;
  color: var(--accent-color);
}

.main__subtitle {
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 20px;
}

.main__text {
  line-height: 23.4px;
  color: var(--main-text-color);
  font-weight: 400;
}

.main__link {
  text-shadow: 1px 1px 0 var(--accent-color);
}

.main__link:hover {
  text-decoration: underline;
}

.main__link:focus {
  outline: none;
  border: 1px solid var(--main-text-color);
}

/* main для width >= 768px */

@media (width >= 768px) {
  .main {
    margin: 60px 20px;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .main__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .main__section-multitasking {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .main__section-dopamine {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .main__section-multitasking-second {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .main__section-food {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .main__section-gadgets {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .main__section-sky {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .main__section-music {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .main__section-walk {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .main__section-eat {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .main__section-read {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }
}

/* main для width >= 1024px */

@media (width >= 1024px) {
  .main__section-concentration {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main__section-multitasking-second {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .main__section-food {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .main__section-gadgets {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

/* gallery */

.gallery {
  display: grid;
  gap: var(--small-gap);
  grid-template-columns: 1fr;
}

.gallery__photo {
  width: 100%;
}

/* gallery для width >= 768px*/

@media (width >= 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--medium-gap);
    margin-top: 20px;
  }

  .gallery__photo-sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__photo-ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 100%;
    object-fit: cover;
  }

  .gallery__photo-tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    height: 100%;
    object-fit: cover;
  }

  .gallery__photo-books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__photo-street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

/* footer */

.footer {
  display: grid;
  min-block-size: 100vh;
  justify-items: center;    
  align-items: center;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  background: transparent;
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  background: transparent;
}

.footer__title {
  font-size: var(--title-font-size-mobile);
  font-weight: 700;
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* footer от width >= 768px */

@media (width >= 768px) {
  .footer__title {
    font-size: var(--title-font-size-desktop);
  }

  .footer::before {
    top: 20px;
    right: 20px;
  }

  .footer::after {
    bottom: 20px;
    left: 20px;
  }
}