.page {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
}

/* header */

.header {
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  min-block-size: 100vh;
}

.header::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  background: transparent;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  background: transparent;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  gap: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  padding-top: 75px;
  padding-right: 10px;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--header-title-color);
  padding: 65px 10px 55px;
  text-shadow: 4px 4px 0 var(--accent-color);;
}

.header__description {
  font-weight: 700;
  margin: 0 10px;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--header-description-color);
}

/* header от width >= 768px */

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
